<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="d-flex flex-column justify-content-between bg-light dashboard">
      <nav class="nav flex-column fw-bold">
        <a class="nav-link" href="index.html"><img class="img-fluid" src="assets/images/logo-ANSWER.svg" alt="logo"></a>
        <li class="nav-item">
          <a class="nav-link link-success d-flex" href="#">
            <span class="material-icons me-3 d-block">assessment</span>Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-success d-flex" href="#">
            <span class="material-icons me-3 d-block">question_answer</span>Question
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-success d-flex <%- current == 'index' ? 'active' : '' %>" aria-current="index" href="index.html">
            <span class="material-icons me-3 d-block">assignment</span>Assignment
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-success d-flex" href="#">
            <span class="material-icons me-3 d-block">video_library</span>Course
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-success d-flex <%- current == 'admin' ? 'active' : '' %>" href="admin.html">
            <span class="material-icons me-3 d-block">people</span>Admin
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-success d-flex" href="#">
            <span class="material-icons me-3 d-block">settings</span>Settings
          </a>
        </li>
      </nav>
      <div class="d-flex align-items-center dashboard-user">
        <img src="assets/images/andychen.jpeg" alt="user" width="40" height="40" class="rounded-circle me-2">
        <div>
          <p class="fw-bold mb-1 fs-6">Andy Chen</p>
          <p class="small mb-0 text-secondary">andy0401@mail.com</p>
        </div>
      </div>
    </div>
    

    <%- contents %>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>