@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');


// 全站樣式
body {
    font-family: 'Lato', 'Roboto Mono', monospace, "Noto Sans TC", "sans-serif";
}

header {
    margin-left: 296px;
    padding: 32px 0;
}

main {
    margin-left: 296px;
    padding-bottom: 32px;
}
